.container {
    background-color: rgb(7, 44, 7);
    padding: 20px;
}

#title {
    background-color: black;
    color: white;
}

.card {
    background-image: linear-gradient(90deg, rgb(231, 197, 133), rgb(46, 34, 21));
    color: white;
    font-size: x-large !important;
    gap: 10px !important;
    border: 2px solid white !important;
}

.card-header {
    background-color: black !important;
}

button {
    background-image: linear-gradient(90deg, rgb(92, 190, 186), rgb(23, 33, 222));
    color: rgb(255, 255, 255) !important;
    border: 1px solid white !important;

}